
$bg-facts:#3bd3ba;
$bg-blog:#95e1d3;
$bg-map:#f38181;
$bg-nav:#fce38a;
$border:#b5eae0;
$color-text:#797979;
$icon-color: #95e1d3;
// font-family
$font-title:'Montserrat',
sans-serif;
$font-subtitle:'Kaushan Script',
cursive;
$font-text:'Roboto',
sans-serif;

